<div class="menu">    
        <a class="menubtn" href="/">Check the beers!</a>
        <a class="menubtn" href="/beers">Beers</a>
        <a class="menubtn" href="/random-beers">Random-beers</a>
</div>
<div class="container">
  <h1>Players</h1>
  <div class="row">
      {{#each data}} 
      <img class="beerImg" src="{{this.image_url}}">
      <h3>{{this.name}} </h3>
      <p>{{this.description}} </p>
     <p>{{this.tagline}} </p>
      {{/each}}

  </div>
</div>